<div class="clients-section">
    <h3>Some of our clients</h3>
    <div class="clients-row" fxLayout="row wrap">
        <div class="logo" fxFlex.xs="100%" fxFlex.sm="50%"  fxFlex.sm="50%" fxFlex.md="20%" fxFlex.lg="20%"><img src="{{Gadgets}}" alt="Gadgets Now"></div>
        <div class="logo" fxFlex.xs="100%" fxFlex.sm="50%"  fxFlex.sm="50%" fxFlex.md="20%" fxFlex.lg="20%"><img src="{{Jakarta}}" alt="Jakarta Post"></div>
        <div class="logo" fxFlex.xs="100%" fxFlex.sm="50%"  fxFlex.sm="50%" fxFlex.md="20%" fxFlex.lg="20%"><img src="{{Tech}}" alt="Tech Radar"></div>
        <div class="logo" fxFlex.xs="100%" fxFlex.sm="50%"  fxFlex.sm="50%" fxFlex.md="20%" fxFlex.lg="20%"><img src="{{TheGuardian}}" alt="The Guardian"></div>
        <div class="logo" fxFlex.xs="100%" fxFlex.sm="50%"  fxFlex.sm="50%" fxFlex.md="20%" fxFlex.lg="20%"><img src="{{Verge}}" alt="The Verge"></div>

    </div>

</div>