//Colors--------------------------
$Midnight-green: hsl(186, 98%, 17%);
$Light-coral: hsl(0, 87%, 73%);
$White: hsl(0, 0%, 100%);
$Rapture-blue: hsl(179, 42%, 63%);
$Police-blue: hsl(187, 41%, 29%);
$Deep-jungle-green: hsl(186, 100%, 14%);
$Sacramento-state-green: hsl(186, 96%, 10%);
$Dark-green: hsl(186, 100%, 8%);
//Font family ---------------------------
$font-fam: 'Livvic',
sans-serif;
//Font sizes ------------------------------
$h1-big: 100px;
$h1-small: 64px;
$h2-size: 30px;
$h3-size: 18px;
$body1-size: 18px;
$body2-size: 15px;
//Contact component ----------------------------
.contact-section {
    padding: 5% 9%;
    .askabout-col {
        @media screen and (min-width:800px){width: 50%;}
    width: 100%;
        h2 {
            @media screen and (max-width: 1080px) {
                text-align: center;
            }
            font-size: $h1-small;
            font-family: $font-fam;
            font-weight: 400;
            color: $White;
        }
        h3 {
            @media screen and (max-width: 1080px) {
                text-align: center;
            }
            font-size: $h2-size;
            font-family: $font-fam;
            font-weight: 400;
            color: $Light-coral;
            margin-bottom: 20px;
        }
        .feat-elem {
            @media screen and (max-width: 755px) {
                text-align: center;
                padding-bottom: 30px;
            }
            padding: 1%;
            .img-col {
                text-align: center;
                img {
                    width: 60px !important;
                    margin-right: 20px;
                }
                @media screen and (max-width:755px) {
                    margin-bottom: 20px;
                }
            }
            .text-col {
                p {
                    font-size: $body2-size;
                    font-family: $font-fam;
                    color: $White;
                    font-weight: 300;
                    line-height: 1.5rem;
                    @media screen and (max-width: 755px) {
                        padding: 0 5%;
                    }
                }
            }
        }
    }
    .form-col {
        @media screen and (min-width:800px){width: 50%;}
        width: 100%;
        @media screen and (min-width: 1081px) {
            padding: 2% 5%;
        }
        padding-top: 3%;
        input {
            width: 100%;
            outline: none;
            border: none;
            font-family: $font-fam;
            color: $White;
            border-bottom: 1px solid $Police-blue;
            background-color: transparent;
            height: 50px;
            margin-bottom: 15px;
        }
        textarea {
            width: 100%;
            outline: none;
            border: none;
            font-family: $font-fam;
            color: $White;
            border-bottom: 1px solid $Police-blue;
            background-color: transparent;
            margin-bottom: 35px;
        }
    }
    .submit-btn {
        margin-top: 3%;
        margin-bottom: 10%;
        color: $White;
        border: 1px solid $Sacramento-state-green;
        background-color: $Sacramento-state-green;
        border-radius: 25px;
        height: 50px;
        width: 200px;
        font-family: $font-fam;
        &:hover {
            cursor: pointer;
            transition: all 0.2s ease;
            background-color: $White;
            color: $Midnight-green;
            border: 1px solid $White;
        }
    }
}