<div class="topAbout-section" fxLayout="row wrap">
    <div class="title-col" fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='50%'>
        <h2>About</h2>
    </div>
    <div class="text-col" fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='50%'>
        <hr/>
        <p>We help companies build dynamic teams made up of top global talent. Using our network of passionate professionals we drive innovation and deliver incredible outcomes. Talented, diverse teams shape the best products and experiences. We’ll bring
            those teams to you.</p>
    </div>

</div>