/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    background-color: hsl(186, 98%, 17%);
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
    font-family: 'Livvic', sans-serif;
}